/Semana3/clase_29042024/nbproject/private/
/Semana3/clase_29042024/build/
/Semana3/Clase_30042024/nbproject/private/
/Semana3/Clase_30042024/build/
/Semana4/clase_06052024/nbproject/private/
/Semana4/clase_06052024/build/
/Semana4/clase_08052024/nbproject/private/
/Semana4/clase_08052024/build/
/Semana4/clase_09052024/nbproject/private/
/Semana4/clase_09052024/build/
/Semana 5/clase_14052024/nbproject/private/
/Semana 5/clase_14052024/build/
/Semana 5/clase_15052024/nbproject/private/
/Semana 5/clase_15052024/build/
/Semana 5/Pauta_Examen1_20052024/nbproject/private/
/Semana 5/Pauta_Examen1_20052024/build/
/Semana6/clase_21052024/nbproject/private/
/Semana6/clase_21052024/build/
/Semana6/clase_22052024/nbproject/private/
/Semana6/clase_22052024/build/
/Semana7/clase_27052024/nbproject/private/
/Semana7/clase_27052024/build/
